# .env files
.env
.ENV

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.python-version

# virtual environment
venv/
env/
ENV/

# Ignore all files in the data directory
/data/*

# But keep the directory structure
!/data/.gitkeep